.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 24px;

  &__copy {
    padding: 0;
    margin: 0;
  }

  &__link {
    color: $other-accent;
    cursor: pointer;
  }

  &__input {
    margin: 0;
    padding: 14px;
    width: 230px;
    border: 1px solid $input-border-color;
    background-color: $link-fill-color;
    color: $input-text-color;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    line-height: 24px;
  }
}

.footer-line {
  width: 100%;
  height: 1px;
  margin-bottom: 24px;
  background-color: $footer-line-color;
}