// Text
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$subtitle-font: 'KaushanScript';

// Colors
$main-text-color: #333333;
$secondary-text-color: #999999;

$main-accent: #fce38a;
$other-accent: #f38181;
$item-bg-accent: #16bea0;

$link-fill-color: #ffffff;

$item-bg-color: #95e1d3;
$footer-line-color: #e5e5e5;
$input-border-color: #e7e7e7;
$input-text-color: #cccccc;