html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
body {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 14px;
}
.img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 1200px;
    padding: 0 2px;
    margin: 0 auto;
}

/* HEADER */
.subtitle {
    font-family: 'KaushanScript';
    margin: 0;
}
.title {
    text-transform: uppercase;
    margin: 0;
}
.main-subtitle {
    margin-bottom: 22px;
    font-size: 24px;
    text-align: center;
    color: #333333;
}
.main-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #333333;
}
.main-title::after {
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 60px;
    height: 3px;
    background-color: #f38181;
}
.paragraph {
    margin: 0;
    font-family: 'Roboto';
    font-size: 15px;
    color: #999999;
    font-weight: 400;
    line-height: 24px;
}
.list {
    list-style: none;
}
.link {
    display: block;
    text-decoration: none;
}
.button {
    display: block;
    border: none;
    background: none;
    text-transform: uppercase;
    color: #ffffff; 
    font-weight: bold;
    cursor: pointer;
}
.site-header {
    padding: 28px 0 230px 0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9))), url(../img/Banner.jpg);
    background-image: -webkit-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/Banner.jpg);
    background-image: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/Banner.jpg);
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/Banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 179px;
}
.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-right: 52px;
    min-width: 506px;
}
.menu__link {
    position: relative;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.menu__link::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 3px;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0); 
    background-color: #fce38a;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.menu__link:hover {
    color: #fce38a;
}
.menu__link:hover::after {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); 
}
.buy-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -2px;
}
.buy-search__buy-link {
    width: 18px;
    height: 18px;
    margin-right: 42px;
}
.buy-search__search-link {
    width: 18px;
    height: 18px;
}
.buy-search__icon {
    display: block;
    width: 100%;
    height: 100%;
    fill: #ffffff;
    -webkit-transition: fill 0.2s linear;
    -o-transition: fill 0.2s linear;
    transition: fill 0.2s linear;
}
.buy-search__icon:hover {
    fill: #fce38a;
}
.header-titles {
    color: #ffffff;
    margin-bottom: 124px;
}
.header-titles__subtitle {
    padding: 0;
    text-align: center;
    font-size: 72px;
    margin-bottom: 50px;
}
.header-titles__title {
    padding: 0 100px;
    text-align: center;
    font-weight: bold;
    font-size: 150px;
    line-height: 140px;
}
.header-button {
    border: 3px solid #ffffff;
    margin: 0 auto;
    padding: 15px 32px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear
}
.header-button:hover {
    border: 3px solid #fce38a; 
    color: #fce38a;
}

/* SERVICES */
.services {
    padding-top: 46px;
}
.services-titles {
    margin-bottom: 66px;
}
/* .services-titles__subtitle {
    margin-bottom: 22px;
    font-size: 24px;
    text-align: center;
    color: #333333;
}
.services-titles__title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #333333;
} */
.services-describe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 28px;
}
.services-describe__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-basis: 33.33%; */
    width: 340px;
    margin-bottom: 100px;
}
.services-describe__item:nth-last-child(-n+3) {
    margin-bottom: 92px;
}
.services-describe__icon {
    display: block;
    margin: 0;
    padding: 0;
    margin-right: 28px;
    width: 32px;
    height: 32px;
}
.services-describe__svg {
    display: block;
    width: 32px;
    height: 32px;
}
.services-describe__title {
    margin-bottom: 20px;
    color: #333333;
    font-weight: normal;
    text-transform: uppercase;
}

/* TEAM */
.team {
    padding-bottom: 82px;
}
.team-titles {
    margin-bottom: 92px;
}
.team-titles__caption {
    margin: 0 auto;
    text-align: center;
    width: 954px;
}
.team-titles__title {
    margin-bottom: 46px;
}
.team-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.team-cards__item {
    -ms-flex-preferred-size: 380px;
        flex-basis: 380px;
}
.team-cards__item:hover > .team-cards__image-container {
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-box-shadow: 10px 10px 0px 0px #95e1d3;
            box-shadow: 10px 10px 0px 0px #95e1d3;
}
.team-cards__item:hover .team-cards__layout {
    opacity: 1;
}
.team-cards__item:hover .team-cards__socials {
    opacity: 1;
}
.team-cards__image-container {
    position: relative;
    margin-bottom: 30px;
    -webkit-transform: translateX(0), translateY(0);
        -ms-transform: translateX(0), translateY(0);
            transform: translateX(0), translateY(0);
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: -webkit-transform 0.3s linear, -webkit-box-shadow 0.3s linear;
    transition: -webkit-transform 0.3s linear, -webkit-box-shadow 0.3s linear;
    -o-transition: transform 0.3s linear, box-shadow 0.3s linear;
    transition: transform 0.3s linear, box-shadow 0.3s linear;
    transition: transform 0.3s linear, box-shadow 0.3s linear, -webkit-transform 0.3s linear, -webkit-box-shadow 0.3s linear;
}
.team-cards__layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
    background-image: -webkit-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    background-image: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}
.team-cards__socials {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}
.team-cards__icon {
    width: 56px;
    height: 56px;
    padding: 15px;
    background-color: #fce38a;
    -webkit-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}
.team-cards__icon:not(:last-child) {
    border-right: 1px solid rgba(243, 129, 129, 0.5);
}
.team-cards__icon:hover {
    background-color: #f38181;
}
.team-cards__icon:hover .team-cards__svg {
    fill: #ffffff;
}
.team-cards__svg {
    width: 100%;
    height: 100%;
    fill: #f38181;
    -webkit-transition: fill 0.3s linear;
    -o-transition: fill 0.3s linear;
    transition: fill 0.3s linear;
}

.team-cards__name {
    font-weight: normal;
    text-align: center;
    margin-bottom: 14px;
}
.team-cards__job {
    font-style: italic;
    text-align: center;
}
/* FOOTER */
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 24px;
}
.footer-line {
    width: 100%;
    height: 1px;
    margin-bottom: 24px;
    background-color: #e5e5e5;
}
.footer__copy {
    padding: 0;
    margin: 0;
}
.footer__link {
    color: #f38181;
    cursor: pointer;
}
.footer__input {
    margin: 0;
    padding: 14px;
    width: 230px;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    color: #cccccc;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    line-height: 24px;
}
.subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.subscribe__button {
    padding: 14px 34px;
    width: 150px;
    background-color: #95e1d3;
    -webkit-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}
.subscribe__button:hover {
    background-color: #16bea0;
}



@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
    .site-header {
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9))), url(../img/Banner@2x.jpg);
        background-image: -webkit-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/Banner@2x.jpg);
        background-image: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/Banner@2x.jpg);
        background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/Banner@2x.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;    
    }
}